@model Product
@{
    ViewData["Title"] = "Add Product";

}
<div class="container">
    <div class="border-bottom border-2 border-dark d-inline-block">
        <h1>Add Product</h1>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ProductAdded))
    {
        <h5 class="text-success">Product Added Successfully</h5>
    }
    <div asp-validation-summary="All" class="text-danger"></div>
    <form class="w-50 mt-2 shadow p-2" asp-action="AddProduct" asp-controller="Admin" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category" class="form-label">Category:</label>
            <select class="selectpicker" asp-for="Category" data-live-search="true">
                @foreach (var cat in Model.AllCategories)
                {
                    <option value="@cat" data-tokens="@cat">@cat</option>
                }
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for="Image" class="form-control">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
</div>

@* For Storing Multiple Files *@
<form class="w-50 mt-2 shadow p-2" asp-action="Store" asp-controller="Product" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input type="file" name="images" class="form-control" multiple>
    </div>
    <button type="submit" class="btn btn-success">Add All Products</button>
</form>
<script>
    //For Searching Category
    $('.selectpicker').selectpicker();
</script>
@section bootstrapselect{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
}