@model List<Product>

@if (Model == null || Model.Count == 0)
{
    <div class="container text-center text-danger d-flex flex-column mt-3">
        <h4>Kindly Add Some Products In Cart Then Come Here</h4>
    </div>
}
else
{
    <div class="container">
        <table class="table shadow-lg border border-2 rounded rounded-4 overflow-hidden">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="viewCartTable">
                @foreach (var product in Model)
                {
                    <tr>
                        @{
                            var extension = System.IO.Path.GetExtension(product.ImageUrl);
                            var path = $"/productImages/{product.ProductId + extension}";
                        }
                        <td scope="row" class="viewCartImage"><img src="@path" /></td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>
                            <a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-productId="@product.ProductId">
                                Remove From Cart
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
